.faq {
    padding: 40px 0;
}

.faq h3{
    color: var(--lime-dark);
}

.faq .faq-group {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.faq .faq-group .faq-group-header {
    padding: 20px 0;
    margin-bottom: 15px;
    position: relative;
}
.faq .faq-group .faq-group-header h4 {
    font-weight: 600;
    width: 95%;
}
.faq .faq-group .faq-group-header i {
    position: absolute;
    right: 0px;
    top: 35px;
    font-size: 1.3rem;
    cursor: pointer;
}
.faq .faq-group .faq-group-body {
    display: none;
}
.faq .faq-group .faq-group-body.open {
    display: block;
}
.faq ul.faq-menu {
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ddd;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}
.faq ul.faq-menu li {
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}
.faq ul.faq-menu li.active {
    background: var(--primary-color);
    color: #fff;
}

.faq-group-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease;
    opacity: 0;
}

.faq-group-body.open {
    max-height: 500px; /* Large enough to fit any answer */
    opacity: 1;
    padding: 15px 0;
}

.faq-group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}