.navbar {
    background: #1A1A1B;
    padding: 20px;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container .logo img{
    height: 50px; 
    width: auto;
    display: block;
}

.navbar .main-menu ul {
    display: flex;
}
.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
    color: #fff;
}
.navbar ul li a:hover {
    color: var(--primary-color);
}
.navbar ul li:last-child a {
    margin-left: 10px;
}
.navbar ul li a i {
    margin-right: 10px;
}
.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}
.hamburger-button .hamburger-line {
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 6px 0;
}
.mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: right 0.3s ease-in-out;
}
.mobile-menu.active {
    right: 0;
}
.mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
}
.mobile-menu ul li {
    margin: 10px 0;
}
.mobile-menu ul li a {
    font-size: 20px;
    transition: 0.3s;
}

@media (max-width: 670px) {
    .navbar .main-menu { display: none; }
    .navbar .hamburger-button { display: block; }
}