*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: 'UniNeue';
  src: url('./assets/fonts/UniNeueRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UniNeue';
  src: url('./assets/fonts/UniNeueBold.ttf') format('truetype');
  font-weight: 600; 
  font-style: normal;
  font-display: swap;
}

:root{
    --font-main:'UniNeue', sans-serif;
    --primary-color:#D1FE17;
    --bg-color:#074C3A;
    --lime-dark: #88AB00;
    --light-color:#F8FAEA;
    --dark-color:#010a08;
    --bg-lighter: #1A1A1C;  
    --text-main: #FFFFFF;
    --text-silver: #B3B3B3;
    --surface-card: #242426; 
    --transition: all 0.3s ease;
} 

body{
    font-family: var(--font-main);
    font-size: 16px;
    line-height:1.5;
    background: #fff;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #333;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}


/* Uility classes */

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-sm{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Card */
.card{
    background:#fff;
    color:#000;
    border-radius: 10px;
    padding: 20px;
}

/* Buttons */

.btn{
    display: inline-block;
    padding: 13px 20px;
    background: var(--light-color);
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}

.btn:hover{
    opacity: 0.8;
}


.btn-large {
    padding: 18px 45px;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.btn-primary{
    background: var(--primary-color);
    color: var(--bg-color);
}


.btn-primary:hover {
    background-color: var(--dark-color);
    color: var(--primary-color);
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);

}

.btn-dark{
    background: var(--dark-color);
    color:var(--primary-color) ;
}

.btn-dark:hover{
    background: var(--primary-color);
    color:var(--dark-color) ;
}

.btn-darkgreen{
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.btn-block{
    display: block;
    width: 100%;
}

/* text utility */

h1, h2, h3, h4, .text-xxl, .text-xl, .btn {
  font-family: var(--font-main);
}

.text-xxl{
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}
.text-xl{
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}
.text-lg{
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md{
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm{
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center{
    text-align: center;
}

.accent-text-primary{
    color: var(--primary-color);
    text-shadow: 0 0 15px rgba(207, 255, 19, 0.3);
}

.accent-text-lime-dark{
    color: var(--lime-dark);
}

.accent-text-dark{
    color: var(--dark-color);
}

.accent-text-white{
    color: var(--text-main);
}

/* Background uility class */
.bg-primary{
    background: var(--primary-color);
    color: #fff;
}

.bg-light{
    background: var(--light-color);
    color: var(--dark-color);
}

.bg-dark{
    background: var(--dark-color);
    color: var(--text-main);
}

.bg-darkgreen{
    background-color: var(--bg-color);
    color: var(--light-color);
}

.bg-darkgreen1{
    background-color: var(--bg-color);
    color: var(--text-main);
}

/* Hamburger Button */

.hamburger-button{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.hamburger-button .hamburger-line{
    width: 30px;
    height: 3px;
    background: #333;
    margin: 6px 0;
}

/* Mobile Menu */
.mobile-menu{
    position:fixed;
    top: 0;
    right: -300px;
    
    width: 250px;
    height: 100%;
    z-index: 100;
    background:#fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: right 0.3s ease-in-out;
}

.mobile-menu.active{
    right: 0;

}

.mobile-menu ul{
    margin-top: 100px;
    padding-right: 10px;
}

.mobile-menu ul li{
    margin: 10px 0;
}

.mobile-menu ul li a{
    font-size: 20px;
    transition: 0.3s;
}

/* Media Queries */

@media (max-width:960px) {
    .text-xxl{
        font-size: 2.5rem;
    }
}

@media(max-width:670px){
    .navbar .main-menu{
        display: none;
    }

    .navbar .hamburger-button{
        display: block;
    }

    .hero .container{
        background: url(../growth/images/hero-bg-mobile.png) no-repeat;
        background-size: 350px 400px;
        background-position: bottom;
        height: 770px;

    }

    .hero .hero-content , .hero .hero-text{
        width: 100%;
        text-align: center;
    }

    .hero .hero-buttons .btn{
        margin-bottom:10px;
        display: block;
        width: 100%;
    }


    /* Testimonials */

    .testimonials .testimonials-heading{
        max-width: 100%;
        text-align: center;
    }

    .testimonials .testimonials-grid, .pricing .pricing-grid,.footer .footer-grid{
        grid-template-columns: 1fr;
    }

    .footer .card{
        margin-right: 0;
    }

    .footer .footer-grid > div{   /*parent  divs of the footer grid */
        text-align: center;

    }
   

    /* Text */
    .text-xl{
        font-size: 1.9rem;
    }

    .text-lg{
        font-size: 1.5rem;
    }

    .text-md{
        font-size: 1.1rem;
    }
}

@media(max-width:500px){
    .text-xxl{
        font-size: 2rem;
    }

}