.highlights-section {
    padding: 100px 0;
    text-align: center;
}

.section-header {
    margin-bottom: 60px;
}

.section-header p{
    
}

.section-header span{
    font-weight: 800;
}

.highlights-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.highlight-card {
    padding: 40px 30px;
    background: #fcfcfc;
    border: 1px solid #eee;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.highlight-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.05);
    border-color: var(--lime-dark);
}

.highlight-icon {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.highlight-card h3 {
    font-size: 1.7rem;
    margin-bottom: 15px;
    color: var(--lime-dark);
}

.highlight-card p {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 25px;
}

.learn-more {
    font-weight: 800;
    font-size: 1.1rem;
    text-decoration: none;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: 0.2s;
}

.learn-more:hover {
    color: var(--lime-dark);
}

@media (max-width: 600px) {
    .highlights-section { padding: 60px 20px; }
}