.admin-main-view {
    flex: 1;
    margin-left: 260px; 
    padding: 30px;
    min-height: 100vh;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .admin-main-view {
        margin-left: 85px; 
        padding: 20px;
    }
}

/* Mobile: If your Sidebar is hidden/toggled */
@media (max-width: 768px) {
    .admin-main-view {
        margin-left: 0;
        padding: 80px 15px 20px; 
    }
}